@charset "utf-8";
/* main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* CSS reset */
* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: 'Raleway', sans-serif;
} 

/* flexbox navigation */

nav {
	display: flex;
	height: 35px;
	align-items: center;
	width: 100%;
}


nav a {
	width: 20%;
	background: #FFFFFF;
	text-align: center;
	text-decoration: none;
	color: #000000;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 17px;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	border-bottom: 0.5px #AAAAAA solid;
}

nav a:hover {
	background: #EEEEEE;
	border: 0.5px #CECECE solid;
}

#navigationsmenu1 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu2 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu3 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu3:hover {
	border: none;
	border-bottom: 0.5px #AAAAAA solid;
}

/* "Broer i KBH" indhold */

h1 {
	text-align: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 50%;
}	


h2 {
	text-align: left;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 55%;
	font-size: 115%;
}

h3 {
	text-align: left;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 55%;
	opacity: 0.65;
	font-size: 93%;
}


#bro-collage {
	width: 49.5%;
	height: 91%;
	margin-left: 50%;
	margin-top: 0;
	position: absolute;
	top: 7.85%;
}

.baggrundsfarve {
	background: #F2F3FF;
	width: 50%;
	height: 93.3%;
	margin-left: 50%;
	margin-top: 0%;
	position: absolute;
	top: 6.7%;
	right: 0px;
	z-index: -1;	
}

.trekant-top {
	width: 0;
	height: 0;
	border-top: 200px solid #F2F3FF;
	border-right: 250px solid transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}