@charset "utf-8";
/* main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* CSS reset */
* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #FFFFFF;
}

/* flexbox navigation */

nav {
	display: flex;
	height: 35px;
	align-items: center;
	width: 100%;
}


nav a {
	width: 20%;
	background: #FFFFFF;
	text-align: center;
	text-decoration: none;
	color: #000000;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 17px;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	border-bottom: 0.5px #AAAAAA solid;
}

nav a:hover {
	background: #EEEEEE;
	border: 0.5px #CECECE solid;
}

#navigationsmenu1 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu2 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu3 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu3:hover {
	border: none;
	border-bottom: 0.5px #AAAAAA solid;
}

/* billeder */

#baggrundsbillede1 {
	margin-top: 6px;
	width: 100%;
}