@charset "utf-8";
/* main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* CSS reset */
* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: 'Raleway', sans-serif;
} 

/* flexbox navigation */

nav {
	display: flex;
	height: 35px;
	align-items: center;
	width: 100%;
}


nav a {
	width: 20%;
	background: #FFFFFF;
	text-align: center;
	text-decoration: none;
	color: #000000;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 17px;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	border-bottom: 0.5px #AAAAAA solid;
}

nav a:hover {
	background: #EEEEEE;
	border: 0.5px #CECECE solid;
}

#navigationsmenu1 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu2 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu3 {
	width: 20%;
	background: #FFFFFF;
	padding-bottom: 17px;
	padding-top: 29px;
	border-bottom: 0.5px #AAAAAA solid;
}

#navigationsmenu3:hover {
	border: none;
	border-bottom: 0.5px #AAAAAA solid;
}

/* "kontakt" indhold */

h1 {
	text-align: left;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 5%;
	margin-bottom: 3%;
	font-size: 240%;
}

h2 {
	text-align: left;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 5%;
	opacity: 0.75;
	font-size: 150%;
}


#frederik {
	width: 20%;
	box-shadow: 2px 2px 100px #B4B4B4;
	position: absolute;
	top: 28.5%;
	right: 20%;
}

.baggrundsfarve {
	background: #F2F3FF;
	width: 50%;
	height: 93.3%;
	margin-left: 50%;
	margin-top: 0%;
	position: absolute;
	top: 6.7%;
	right: 0px;
	z-index: -1;	
}

.trekant-top {
	width: 0;
	height: 0;
	border-top: 100px solid #F2F3FF;
	border-left: 500px solid transparent;
	position: absolute;
	right: 50%;
	top: 6.5%;
	z-index: -1;

}
	

.trekant-bund {
	width: 0;
	height: 0;
	border-bottom: 100px solid #F2F3FF;
	border-left: 500px solid transparent;
	position: absolute;
	right: 50%;
	bottom: 0px;
	z-index: -1;
}